body{
    margin: 100px;
}

.logo {
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}

/* Todas las letras de encabezado*/
.heading {
    color: #FF5D5B;
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 85px;
    line-height: 44px;
    text-align:center;

    
}
/* Usuario input*/
.userInput {
    background: #EFD5A3;
    border-radius: 10px;
    border:0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    font-size: 40px;
    font-family: sans-serif;
    width: 100%;
    height: 100px;
    left: 50px;
    top: 176px;

}

/* Contraseña input*/
.pwdInput {
    background: #CEEFA3;
    border-radius: 10px;
    border:0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 100px;
    font-size: 40px;
    font-family: sans-serif;
    width: 100%;
    height: 100px;
    left: 50px;
    top: 176px;
}

/* Todos los botones*/
.btn {
    background-color: #FF5D5B;
    border-radius: 25px;
    border:0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 100px;
    width: 500px;
    height: 100px;
    left: 99px;
    top: 536px;
    display:block;
    margin-left: auto;
    margin-right: auto;

    
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    font-family: sans-serif;
    line-height: 25px;
    text-align: center;
    color:#52504F;
}
   
/* Cuadro donde se completa datos de tc*/
#newCard input {
    background: #EFD5A3;
    border-radius: 10px;
    border:0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    font-size: 40px;
    font-family: sans-serif;
    width: 100%;
    height: 100px;
    left: 50px;
    top: 176px;
}

/* Cuadros con resumen de tc en el home */

.cardSummary {

    background: #EFD5A3;
    border-radius: 10px;
    border:0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    width: 100%;
    height: 100px;
    left: 50px;
    top: 176px;
    list-style: none;

    font-style: normal;
    font-weight: normal;
    font-size: 33px;
    font-family: sans-serif;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;  
    color:#52504F;
}


/* Informacion de detalles de tc */
.cardInfo{
    width: 100%;
    height: 500px;
    left: 11px;
    top: 270px;
    padding-top: 30px;
    padding-bottom: 30px;

    background: #CEEFA3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    font-family: sans-serif;
    color: #52504F;
}

/* Boton cerrar ses */
.closeSes {

    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 19px;
    text-align: center;
    text-decoration-line: underline;
    color: #FF5D5B;

    background-color: transparent;
    border:none;
    position: absolute;
    bottom: 50px;

}

/* Boton de casa */ 
.houseHome {
    width: 120px;
    height: 110px;
    position: absolute;
    margin-right: 0px;
    bottom: 50px;
    right: 50px;
}

/* Estilo de los detalles de la tc */ 
dt {
    
    font-family: 'Open Sans Condensed', sans-serif;
    margin-inline-start: 50px;
    font-size: 36px;
}


dd {
    margin-bottom: 0.1em;
    display: block;
    margin-inline-start: 258px;
    font-weight: bold;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 36px;
}

