* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-size: contain;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 5%;
    border: 5px solid black
}
main{
    display: flex;
    flex-direction: column;
    height: 70vh;
    border: 4px solid blue;
    
}
.logo {
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}

/* Headings*/
#welcomeName,#heading-home, #heading-newCard,#heading-cardDetails {
    color: #FF5D5B;
    font-size: 85px;
    text-align:center;
    
}
/* Buttons */
#accessToWallet,#newCardButton, #closeSesionB, #saveInformation, #backtoHome{
    background-color: #FF5D5B;
    border-radius: 25px;
    border:0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 100px;
    width: 500px;
    height: 100px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    color:#52504F;
}
/* Login */
#user {
    background: #EFD5A3;
    border-radius: 10px;
    border:0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    font-size: 40px;
    width: 100%;
    height: 100px;
}
#password {
    background: #CEEFA3;
    border-radius: 10px;
    border:0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 100px;
    font-size: 40px;
    width: 100%;
    height: 100px;
}
/* Home */

#home{
    display: grid;
    grid-template-rows: 10% 10% 10% 60% 10%;
    height: 70vh;
    border: 4px solid red;
    padding: 2%;
    
}
#welcomeName{
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
}
#newCardButton{
    background-color: #CEEFA3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 0px;
}
#heading-home{
    grid-row-start: 3;
    grid-row-end: 4;
    align-self: center;
}
#cardsContainer{
    grid-row-start: 4;
    grid-row-end: 5;
}
#closeSesionB{
    grid-row-start: 5;
    grid-row-end: 6;
    margin-top: 0px;
}
/*New Card */

#newCard{
    display: grid;
    grid-template-rows: 10% 60% 10% 20%;
    border: 4px solid red;
    height: 70vh;
}
#heading-newCard{
    grid-row-start: 1;
    grid-row-end: 2;
}
#formContainer{
    grid-row-start: 2;
    grid-row-end: 3;
}
#formContainer input{
    background: #EFD5A3;
    border-radius: 10px;
    border:0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    font-size: 40px;
    width: 100%;
    height: 100px;
}
#saveInformation{
    grid-row-start: 3;
    grid-row-end: 4;
     margin-top: 0px;
}
#buttonTwoHome{
    grid-row-start: 4;
    grid-row-end: 5;
    width: 120px;
    height: 110px;
    align-self: flex-end;
    margin-left: 80%;
}
/* Sumary Card */
.cardSummary {
    background: #EFD5A3;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    list-style: none;
    font-size: 33px;
    text-align: center;
    line-height: 90px;  
    color:#52504F;
}
#card{
    height: 70vh;
    border: 4px solid red;
    padding: 2%;
}
/* Details Card */
.cardInfo{
    background: #CEEFA3;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 5%;
}
/* Estilo de los detalles de la tc */ 
dt {
    margin-inline-start: 50px;
    font-size: 36px;
}
dd {
    margin-bottom: 0.1em;
    display: block;
    margin-inline-start: 10%;
    font-weight: bold;
    font-size: 36px;
}
